@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.75);
	background-color: #212128;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #212128;
		background-color: #dfdfdf;
	}
}

body {
	/* this is the default in chrome */
	font-size: 75%;
}

html {
	/* for firefox */
	scrollbar-width: none;
}
